{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}
<script>
$(document).ready(function() { 
   jQuery('.smarttable').dataTable(); 
   {{if not form.errors:}}jQuery('#form').hide();{{pass}}
});
</script>
<h1>List Measurement Place</h1>

[<a href="#nil" onclick="jQuery('#form').slideToggle();">toggle</a>]
<div id="form">
<h2>New Measurement Place</h2>
{{=form}}
</div>

<br /><br />
<table class="smarttable">
<thead>
    <tr>
      <th>Name</th><th>Description</th><th>Actions</th>
    </tr>    
</thead>
<tbody>
{{for measurement_place in measurement_places:}}
    <tr>
       <td>{{=link_measurement_place(measurement_place)}}</td> 
	   <td>{{=measurement_place.description}}</td> 
       <td>{{=button('instruments','list_instruments',measurement_place.id)}}
       {{=button('edit','edit_measurement_place',measurement_place.id)}}</td>
    </tr>
{{pass}}
</tbody>
</table>
