{{response.files.append(URL(r=request,c='static',f='jquery.dataTables.min.js'))}}
{{response.files.append(URL(r=request,c='static',f='demo_table.css'))}}
{{extend 'layout.html'}}
<script>
jQuery(document).ready(function(){
   jQuery('.smarttable').dataTable();
   {{if form and not form.errors:}}jQuery('#form').hide();{{pass}}
});
</script>
{{if measurement_place:}}
<h1>Instruments at {{=link_measurement_place(measurement_place)}}</h1>

[<a href="#nil" onclick="jQuery('#form').slideToggle();">toggle</a>]
<div id="form">
<h2>New Instrument</h2>
{{=form}}
</div>
{{else:}}
<h1>All Instruments</h1>
{{pass}}

<br /><br />
<table class="smarttable">
<thead>
  <tr>
    <th>Name</th><th>ID</th><th>Measurement Place</th><th>Status</th>
  </tr>
</thead>
<tbody>
{{for instrument in instruments:}}
<tr>
<td>{{=instrument.name}}</td>
<td>{{=instrument.id_number}}</td>
<td>{{=cache.ram('c%s'%instrument.measurement_place, lambda:instrument.measurement_place.name,100)}}</td>
<td>{{=button('view','view_instrument',instrument.id)}}
{{=button('edit','edit_instrument',instrument.id)}}
{{=button('logs','list_logs',instrument.id)}}
{{=button('docs','list_docs',instrument.id)}}
{{=button('tasks','list_tasks',instrument.id)}}</td>
</tr>
{{pass}}
</tbody>
</table>
