<style type="text/css" media="screen">
    .popup {background:#FFF; border:1px solid #333; padding:1px;}
    .popup-header {height:24px; padding:7px; background:url("bgr_popup_header.jpg") repeat-x;}
    .popup-header h2 {margin:0; padding:0; font-size:18px; float:left;}
    .popup-header .close-link {float:right; font-size:11px;}
    .popup-body {padding:10px;}
</style>
<div class="popup">
    <div class="popup-header">
        <h2>{{=T("Create a %(name)s", dict(name=request.vars.title_name)) }}</h2>
        <a href="javascript:;" onclick="$.closePopupLayer()" title="Close" class="close-link">{{=T("Close")}}</a>
        <br clear="both" />
    </div>
    <div class="popup-body">
        {{=message}}
        {{=form}}
        {{=script_submit}}
    </div>
</div>